
.infodiv {
    background: lightgray;
    margin: 5px;
    font-size: 32px;
    display:grid;
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;

    border: 1px dashed black;
}

.infodiv span:nth-child(2) {
    font-size: 24px;
    background: #DDD;
    border: 1px solid #CCC;
    padding: 0 4px;
}

#rootbox {
    margin: 32px;
}

.filetab {
    align-self: center;
}

.infocontainer {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0 0 .32em 0;
}

h2 {
    text-align: center;

    background: #F8F8F8;
    padding: 5px 0px;
}

body {
    text-align: center;
}

.tablebox {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

a:visited { color: blue; }

h1 a { color: black; text-decoration: none; }
h1 a:visited { color: black; text-decoration: none; }
h1 a:hover { color: blue; text-decoration: underline; }

.columnbox3 {
    width: 100%;
}
.columnbox3:after {
    content: "";
    display: table;
    clear: both;
}

.column3_0, .column3_1, .column3_2 {
    width: 33%;
    float: left;
}

.div_prev {
    overflow: auto;
    max-height: 768px;
}

.scrollabletabbox {
    overflow: auto;
    max-height: 1200px;
}

.td_err {
    background: #F33;
}

.td_highlight {
    background: wheat;
}

.pagination_row {
    margin: 30px 200px 0 200px;
    text-align: left;
}

.pagination_link, .pagination_curr {
    display: inline-block;
    min-width: 38px;
    padding: 2px 5px;
    margin:  2px 0;
    font-weight: bold;

    text-align: center;
    text-decoration: none;
    color: black;
}

.pagination_link:hover {
    background: lightblue;
}

.pagination_link:visited {
    color: black;
}

.pagination_link {
    background: lightgray;
    border: 1px solid darkgray;
}

.pagination_curr {
    background: gray;
    border: 1px solid black;
}

.subhshdr {
    margin: 35px 0 10px 0;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.subhshdr a {
    text-decoration: none;
    color: black;

    display: inline-block;
    border: 1px dotted #BBB;
    padding: 2px 10px;
    background: #EEE;
    min-width: 500px;
}

.subhshdr a:visited {
    text-decoration: none;
    color: black;
}

.subhshdr a:hover {
    border: 1px solid #444;
    background: #9BF;
}

.filterlinkrow {
    text-align: center;
    margin: 0 0 5px 0;
}

.filterlinkrow a {
    display: inline-block;
    background: #444;
    padding: 5px;
    margin: 0 5px 0 5px;

    color: white;
    text-decoration: none;
    font-weight: bold;

    border: 1px dotted #FFF;
}

.filterlinkrow a:visited {
    color: white;
}

.nolink {
    color: black;
    text-decoration: none;
}

.nolink:visited {
    color: black;
    text-decoration: none;
}

.nolink:hover {
    color: blue;
    text-decoration: underline;
}

.td_name .fas {
    width: 24px;
}
.row_entry {
    user-select: none;
    -moz-user-select: none;
}

.row_entry:hover {
    cursor: pointer;
    background: #555;
    color: white;
}

.row_name_indent {
    width: 24px;
    display: inline-block;
}

.row_collapsed {
    visibility: collapse;
    display: none;
}

#logviewcontent {
    overflow: auto;
}

#logviewcontent {
    white-space: pre;
    font-family: monospace;
    word-wrap: break-word;
    padding: .5em 1em;
    border: 1px solid #888;
    text-align: left;
    overflow: auto;
}

.logviewbox {
    flex-direction: column;
    display: none;
    visibility: collapse;
}

#alt_list_cbx {
    float: right;
    margin: 8px 0px;
    font-size: larger;
    min-width: 300px;
}

.alt_list_elem {
    display: inline-block;
    margin: 4px;
    padding: 2px 4px;
    border: 1px solid #666;
    background: #EEE;
}

.alt_list_elem:hover {
    border: 1px solid #EEE;
    background: #666;
    cursor: pointer;
}

.alt_list_elem_selected {
    border: 1px solid #EEE;
    background: #666;
    color:#EEE;
}

.alt_list_elem_selected:hover {
    border: 1px solid #EEE;
    background: #666;
    cursor:default;
}

#logviewtitle {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    height: 32px;
}

.btnBack {
    width: 40px;
    grid-column:1;
    border-radius: 4px;
    background: #666;
    color: #EEE;
    margin: 0px 20px 0px 5px;
    padding: 0px 3px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnBack:hover {
    color: #88F;
    cursor: pointer;
}

#logviewtitle_content {
    grid-column:2;
}

#btnReload {
    width: 40px;
    grid-column:3;
    border-radius: 4px;
    background: #666;
    color: #EEE;
    margin:  0px 5px 0px 20px;
    padding: 0px 6px 0px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnReload:hover {
    color: #88F;
    cursor: pointer;
}

#btnReload.btnReload_active {
    background: #0AF;
}

#btnReload.btnReload_error {
    background: #F44;
}

#btnReload.btnReload_enabled {
    background: #0A6;
}

.fa-folder,      .fa-box      { color:#BB7200; }
.fa-folder-open, .fa-box-open { color:#664200 }

th a { color:black; text-decoration: none; }
th a:visited  { color:black; text-decoration: none; }
th a:hover { color:black; text-decoration: none; }